flows-14.json
[{"id":"e3f05d2b.6c2538","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"399c554b.307352","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"568aebe4.f7b804","type":"mqtt-broker","d":true,"name":"Local","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8d130270.3fc638","type":"ttn app","appId":"famillymerciersensors","accessKey":"ttn-account-v2.7dMPlHapa8njwgYloex64Da3IRGE6WUHanylwRBlYPA","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"84ef9236.e2dae","type":"mqtt-broker","d":true,"name":"hivemq","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ed8ac475.74fa88","type":"mqtt-broker","d":true,"name":"","broker":"mqtt.mysmarthome.vn","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5ad2f6e2.c5fcf8","type":"mqtt-broker","d":true,"name":"","broker":"mqtt.mysmarthome.vn","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"429701bc.ac218","type":"ui_base","d":true,"theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#df7c20","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#e22222","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#f20202","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#e22222","edited":true},"page-titlebar-backgroundColor":{"value":"#e22222","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#eb6666","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#e22222","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"test fab","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":10,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c63bab3.e433ad8","type":"ui_tab","d":true,"name":"FabTestTab","icon":"dashboard","disabled":false,"hidden":false},{"id":"32b1de46.ed09d2","type":"ui_group","name":"FabGauge","tab":"c63bab3.e433ad8","order":1,"disp":true,"width":"24","collapse":false},{"id":"c6ba01ea.fc28f","type":"ui_group","d":true,"name":"Current","tab":"","order":6,"disp":true,"width":"5","collapse":false},{"id":"588b9ecc.adac","type":"ui_group","d":true,"name":"Voltage","tab":"","order":7,"disp":true,"width":"5","collapse":false},{"id":"30b5c35d.d7711c","type":"ui_group","d":true,"name":"Frequency","tab":"","order":8,"disp":true,"width":"5","collapse":false},{"id":"43c7937f.6c5b5c","type":"ui_group","d":true,"name":"KWH","tab":"","order":9,"disp":true,"width":"5","collapse":false},{"id":"fb153cff.b6cb3","type":"ui_group","d":true,"name":"Current Ampere","tab":"","order":1,"disp":true,"width":"2","collapse":false},{"id":"829e4fc9.cbbfe","type":"ui_group","d":true,"name":"Simulated Operator's Panel","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"7056bbea.207374","type":"ui_group","d":true,"name":"Simulation Outputs","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"f2de4600.3ab868","type":"ui_group","d":true,"name":"Default","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"849ef9ac.e33228","type":"ui_group","d":true,"name":"Center Station","tab":"80f737c5.0293f8","order":1,"disp":false,"width":"10","collapse":false},{"id":"8f768f57.a6bf4","type":"ui_group","d":true,"name":"Station 1","tab":"80f737c5.0293f8","order":2,"disp":false,"width":10,"collapse":false},{"id":"396240c9.2d409","type":"ui_group","d":true,"name":"WAP","tab":"","order":3,"disp":true,"width":"4","collapse":false},{"id":"1c67a074.861f4","type":"ui_group","d":true,"name":"Default","tab":"","order":1,"disp":true,"width":"6"},{"id":"149a8a7.3d69a76","type":"ui_group","d":true,"name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"426c6703.2c1038","type":"ui_group","d":true,"name":"Read (0 Based)","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"55e082a0.9e821c","type":"ui_group","d":true,"name":"Output","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"4a263e90.169ff","type":"ui_group","d":true,"name":"Write (0 Based)","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"b079e2a.7753f2","type":"ui_group","d":true,"name":"TCP","tab":"","order":2,"disp":true,"width":"6"},{"id":"4fe0301e.33802","type":"ui_group","d":true,"name":"Serial","tab":"","order":1,"disp":true,"width":"6"},{"id":"470e04a4.87c72c","type":"ui_group","d":true,"name":"Device Status","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"a7539552.a04768","type":"ui_group","d":true,"name":"Device Management","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"ab94b758.4be768","type":"ui_group","d":true,"name":"Control Output 1","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"a5e4e892.40d1b8","type":"ui_group","d":true,"name":"O1 - O4 Output States","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"7b785326.56a39c","type":"ui_group","d":true,"name":"Control Outputs","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"f31d7178.07922","type":"ui_group","d":true,"name":"Gauges","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"339851e7.18e74e","type":"ui_group","d":true,"name":"Output States","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"951f63e6.78df","type":"ui_group","d":true,"name":"Garage","tab":"","order":2,"disp":false,"width":"10"},{"id":"febe591f.8ca1f8","type":"ui_group","d":true,"name":"Formulaire","tab":"","order":2,"disp":true,"width":"8"},{"id":"67f72709.c415f8","type":"ui_group","d":true,"name":"Mesures","tab":"","order":1,"disp":true,"width":"6"},{"id":"45ccf5ba.b188ac","type":"ui_group","d":true,"name":"Graphiques","tab":"","order":2,"disp":true,"width":"6"},{"id":"92b8225e.e5258","type":"ui_group","d":true,"name":"Bảng 1","tab":"","order":1,"disp":true,"width":"6","collapse":true},{"id":"4ee8ed24.7ba6b4","type":"ui_group","d":true,"name":"Bảng 2","tab":"","order":2,"disp":true,"width":"6","collapse":true},{"id":"bd2dd101.0d2aa","type":"ui_group","d":true,"name":"Thứ nhất","tab":"","order":1,"disp":true,"width":"6","collapse":true},{"id":"77fd2c64.e3d1a4","type":"ui_group","d":true,"name":"Thứ 2","tab":"","order":2,"disp":true,"width":"6","collapse":true},{"id":"8b72f283.b9623","type":"ui_group","d":true,"name":"Giao diện","tab":"","order":1,"disp":true,"width":"13","collapse":false},{"id":"283853aa.47adfc","type":"ui_group","d":true,"name":"Demo","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"69a3359.3f8a7cc","type":"ui_group","d":true,"name":"Center station","tab":"","order":1,"disp":true,"width":12,"collapse":false},{"id":"2d86533d.999e6c","type":"ui_group","d":true,"name":"Station 1","tab":"","order":2,"disp":true,"width":12,"collapse":false},{"id":"a1593de9.af122","type":"ui_group","d":true,"name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"cd676112.0da77","type":"ui_group","d":true,"name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"373c4fb2.a22078","type":"ui_group","d":true,"name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"3baf3315.4b84bc","type":"ui_group","d":true,"name":"Welcome to the IoT online Portal","tab":"","order":1,"disp":true,"width":11,"collapse":false,"info":"helloe dash board"},{"id":"5685d74.0143228","type":"ui_group","d":true,"name":"Chart","tab":"80f737c5.0293f8","order":3,"disp":false,"width":10,"collapse":false},{"id":"9bd788a1.b5bb98","type":"ui_group","d":true,"name":"Tank 1","tab":"","order":2,"disp":true,"width":"6"},{"id":"7b6e0d6c.f51904","type":"ui_group","d":true,"name":"Tank 2","tab":"","order":4,"disp":true,"width":"6"},{"id":"912c5aef.7152f","type":"ui_group","d":true,"name":"Water Well","tab":"","order":1,"disp":true,"width":"6"},{"id":"4025c129.a588a8","type":"ui_group","d":true,"name":"Transfer Pump","tab":"","order":3,"disp":true,"width":"6"},{"id":"34a91890.9fc56","type":"ui_group","d":true,"name":"Alarming","tab":"","order":5,"disp":true,"width":"6"},{"id":"fdf14fb2.135c2","type":"ui_group","d":true,"name":"Eléments d'entrée","tab":"","order":1,"disp":true,"width":"8"},{"id":"6c5d83a8.d2c5fc","type":"ui_spacer","d":true,"name":"spacer","group":"69a3359.3f8a7cc","order":1,"width":12,"height":1},{"id":"72af5916.7a11a8","type":"ui_spacer","d":true,"name":"spacer","group":"69a3359.3f8a7cc","order":8,"width":12,"height":1},{"id":"c1f9f9be.545ec8","type":"ui_spacer","d":true,"name":"spacer","group":"69a3359.3f8a7cc","order":12,"width":12,"height":1},{"id":"ddf446dd.678b88","type":"ui_spacer","d":true,"name":"spacer","group":"2d86533d.999e6c","order":1,"width":5,"height":1},{"id":"43adbebf.fc721","type":"ui_spacer","d":true,"name":"spacer","group":"2d86533d.999e6c","order":3,"width":2,"height":1},{"id":"1c06a705.a21a09","type":"ui_spacer","d":true,"name":"spacer","group":"2d86533d.999e6c","order":11,"width":12,"height":1},{"id":"ec586767.fa49a8","type":"ui_spacer","d":true,"name":"spacer","group":"2d86533d.999e6c","order":14,"width":12,"height":1},{"id":"3dbddd3.5796222","type":"ui_spacer","d":true,"name":"spacer","group":"3baf3315.4b84bc","order":2,"width":4,"height":1},{"id":"c65bc8a2.78cbc8","type":"ui_spacer","d":true,"name":"spacer","group":"3baf3315.4b84bc","order":3,"width":4,"height":1},{"id":"9b818f63.bd881","type":"ui_spacer","d":true,"name":"spacer","group":"849ef9ac.e33228","order":2,"width":3,"height":1},{"id":"4cc2d156.e8a21","type":"ui_spacer","d":true,"name":"spacer","group":"849ef9ac.e33228","order":4,"width":2,"height":1},{"id":"aa7338fa.b5a7b8","type":"ui_spacer","d":true,"name":"spacer","group":"849ef9ac.e33228","order":8,"width":3,"height":1},{"id":"4107f550.2bd72c","type":"ui_spacer","d":true,"name":"spacer","group":"849ef9ac.e33228","order":10,"width":4,"height":1},{"id":"244b239f.5aebdc","type":"ui_spacer","d":true,"name":"spacer","group":"849ef9ac.e33228","order":13,"width":1,"height":1},{"id":"a5f26b81.d72d88","type":"ui_spacer","d":true,"name":"spacer","group":"849ef9ac.e33228","order":16,"width":3,"height":1},{"id":"2cbb6b5a.d80bf4","type":"ui_spacer","d":true,"name":"spacer","group":"849ef9ac.e33228","order":17,"width":1,"height":1},{"id":"bfcc986d.4beb98","type":"ui_spacer","d":true,"name":"spacer","group":"849ef9ac.e33228","order":21,"width":1,"height":1},{"id":"f496fecf.cdf1d","type":"ui_spacer","d":true,"name":"spacer","group":"849ef9ac.e33228","order":25,"width":1,"height":1},{"id":"5dec882e.0fa9a8","type":"ui_spacer","d":true,"name":"spacer","group":"849ef9ac.e33228","order":28,"width":1,"height":1},{"id":"aeccee0f.becb9","type":"ui_spacer","d":true,"name":"spacer","group":"849ef9ac.e33228","order":29,"width":1,"height":1},{"id":"4493a370.22e63c","type":"ui_spacer","d":true,"name":"spacer","group":"849ef9ac.e33228","order":32,"width":1,"height":1},{"id":"7d0d2b2f.2719b4","type":"ui_spacer","d":true,"name":"spacer","group":"849ef9ac.e33228","order":33,"width":1,"height":1},{"id":"39bcba01.0aa066","type":"ui_spacer","d":true,"name":"spacer","group":"849ef9ac.e33228","order":36,"width":1,"height":1},{"id":"a28f87cc.d9d9d8","type":"ui_spacer","d":true,"name":"spacer","group":"8f768f57.a6bf4","order":2,"width":1,"height":1},{"id":"6fca45ea.82a0dc","type":"ui_spacer","d":true,"name":"spacer","group":"8f768f57.a6bf4","order":4,"width":1,"height":1},{"id":"d82bca2b.04b198","type":"ui_spacer","d":true,"name":"spacer","group":"8f768f57.a6bf4","order":6,"width":1,"height":1},{"id":"3f323712.6893e8","type":"ui_spacer","d":true,"name":"spacer","group":"8f768f57.a6bf4","order":7,"width":2,"height":1},{"id":"152f2be5.581b84","type":"ui_spacer","d":true,"name":"spacer","group":"8f768f57.a6bf4","order":9,"width":4,"height":1},{"id":"8fd4154c.026548","type":"ui_spacer","d":true,"name":"spacer","group":"8f768f57.a6bf4","order":12,"width":2,"height":1},{"id":"f42f74dd.b3ded8","type":"ui_spacer","d":true,"name":"spacer","group":"8f768f57.a6bf4","order":14,"width":4,"height":1},{"id":"2503cf4.547103","type":"ui_spacer","d":true,"name":"spacer","group":"8f768f57.a6bf4","order":17,"width":2,"height":1},{"id":"4b33977b.4e1538","type":"ui_spacer","d":true,"name":"spacer","group":"8f768f57.a6bf4","order":19,"width":4,"height":1},{"id":"9466f3ba.76923","type":"ui_spacer","d":true,"name":"spacer","group":"8f768f57.a6bf4","order":22,"width":1,"height":1},{"id":"df551e00.20d57","type":"ui_spacer","d":true,"name":"spacer","group":"8f768f57.a6bf4","order":25,"width":3,"height":1},{"id":"c9bd0705.53e118","type":"ui_spacer","d":true,"name":"spacer","group":"8f768f57.a6bf4","order":26,"width":1,"height":1},{"id":"76a7823.fd6a47c","type":"ui_spacer","d":true,"name":"spacer","group":"8f768f57.a6bf4","order":29,"width":3,"height":1},{"id":"798e3124.c0ca8","type":"modbus-client","d":true,"name":"modbus TCP client","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.10","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":false,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"a0737e46.57122","type":"modbus-client","d":true,"name":"modbus TCP client","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.10","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":false,"reconnectTimeout":2000,"parallelUnitIdsAllowed":false},{"id":"5876d9d3.3456c8","type":"modbus-client","d":true,"name":"MODSCAN","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"d91e649d.344078","type":"modbus-client","d":true,"name":"NETIO AN32 (Modbus/TCP)","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"31.7.241.134","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":200,"reconnectTimeout":200},{"id":"89cb9a7a.f6d138","type":"modbus-client","d":true,"name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"4412ae43.cdf648","type":"modbus-client","d":true,"name":"local","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"c14a9b95.8486d8","type":"MC Protocol Connection","d":true,"name":"","host":"192.168.1.39","port":"6000","protocol":"TCP","frame":"3E","plcType":"Q","ascii":false,"PLCStation":"","PCStation":"","PLCModuleNo":"","network":"","octalInputOutput":false},{"id":"ae3f29c0.57f528","type":"PLC MC config","d":true,"name":"misubishi","host":"192.168.1.39","port":"6000"},{"id":"da4c636a.9980f","type":"eth-ip endpoint","d":true,"address":"192.168.98.1","slot":"0","cycletime":"100","name":"","vartable":{"":{"Local:3:O.Data.0":{"type":"BOOL"},"Local:3:O.Data.1":{"type":"BOOL"},"Local:3:O.Data.2":{"type":"BOOL"},"Local:3:O.Data.3":{"type":"BOOL"},"Local:2:I.Data.0":{"type":"BOOL"},"Local:2:I.Data.1":{"type":"BOOL"},"Local:2:I.Data.2":{"type":"BOOL"},"Local:2:I.Data.3":{"type":"BOOL"},"Local:2:I.Data.4":{"type":"BOOL"},"Local:2:I.Data.5":{"type":"BOOL"},"Local:2:I.Data.6":{"type":"BOOL"},"Local:2:I.Data.7":{"type":"BOOL"},"Local:2:I.Data.8":{"type":"BOOL"},"Local:2:I.Data.9":{"type":"BOOL"},"Local:2:I.Data.10":{"type":"BOOL"},"Local:2:I.Data.11":{"type":"BOOL"},"Local:2:I.Data.12":{"type":"BOOL"},"Local:2:I.Data.13":{"type":"BOOL"},"Local:2:I.Data.14":{"type":"BOOL"},"Local:2:I.Data.15":{"type":"BOOL"},"Local:2:I.Data.16":{"type":"BOOL"},"Local:4:I.Ch0Data":{"type":"REAL"}}}},{"id":"aa4ef6d2.c4bd8","type":"MySQLdatabase","name":"LoraData","host":"sql151.main-hosting.eu","port":"3306","db":"u477330510_familymercier","tz":"GMT","charset":"UTF8"},{"id":"6cf82e37.9a1db","type":"MySQLdatabase","d":true,"name":"","host":"127.0.0.1","port":"3306","db":"sys","tz":"","charset":""},{"id":"a5c7d6d1.ed644","type":"ttn uplink","z":"e3f05d2b.6c2538","name":"temperature","app":"8d130270.3fc638","dev_id":"temperature","field":"","x":150,"y":180,"wires":[["c0425ccb.68bcb8","9868f2f4.88a12"]]},{"id":"c0425ccb.68bcb8","type":"debug","z":"e3f05d2b.6c2538","name":"vers terminal >","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":100,"wires":[]},{"id":"3e9d9407.361554","type":"mysql","z":"e3f05d2b.6c2538","mydb":"aa4ef6d2.c4bd8","name":"","x":680,"y":180,"wires":[[]]},{"id":"9868f2f4.88a12","type":"function","z":"e3f05d2b.6c2538","name":"Decodeur Payload","func":"//data are received as a table in msg.payload[]\n//they are pushed to the database using msg.xxx\n//the original value is Hexa \n// ajouter un auto-test : ajouter organiser en fonctions et tester les fonctions\n// utiliser GIT pour passer les progs au serveur\n// les données sont typées pour réduire au minimum la taille de la base\n\nptime=msg.metadata.time;//a char with the date and time\n//version according to the source - max 255 - 0 when the payload is a test - 1 from MacBook\n// 2 from raspberry\npversion = 1;\n\n// test to verify the consistency of the payload\nflag01 = msg.payload[0];//expected value 01\nflag02 = msg.payload[3];//expected value 02\nflag03 = msg.payload[5];//expected value 03\nflag07 = msg.payload[9];//expected value 07\nflag0B = msg.payload[12];//expected value 0B hex or 11 decimal\nflag0F = msg.payload[17];//expected value 0F hex or 14 decimal\nflag14 = msg.payload[19];//expected value 14 hex or 20 decimal\nflag17 = msg.payload[24];//expected value 17 hex or 23 decimal\n\nif ((flag01 == 1) && (flag02 == 2) && (flag03 == 3) && (flag07 == 7) && (flag0B == 11)&& (flag0F == 15) && (flag14 == 20) && (flag17 == 23))  {\n    ptemperature = (msg.payload[1]*256 + msg.payload[2]);//degre x 10, to be divided by 10\n    phumidity = msg.payload[4];//HR\n    pvoltage = (msg.payload[10]*256 + msg.payload[11]);//mV\n    // pressure mBar rounded value\n    ppressure = Math.round((msg.payload[20]*16777216 + msg.payload[21]*65536 + msg.payload[22]*256 + msg.payload[23])/1000);\n    pcount = (msg.payload[25]*16777216 + msg.payload[26]*65536 + msg.payload[27]*256 + msg.payload[28])/1000;\n\n    //send data using SQL using Topic\n    var newMsg = {\n    \"topic\":\"INSERT INTO ELT2Piscine (version,temperature,humidity,voltage,pressure,count,time)VALUES (\"+\"\\'\"+pversion+\"\\',\\'\"+ptemperature+\"\\',\\'\"+phumidity+\"\\',\\'\"+pvoltage+\"\\',\\'\"+ppressure+\"\\',\\'\"+pcount+\"\\',\\'\"+ptime+\"\\')\"\n    }; \n    return newMsg;\n} else {\n    //do nothing if the payload is not correct\n}\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":180,"wires":[["5747288a.12ce78","3e9d9407.361554"]]},{"id":"5747288a.12ce78","type":"debug","z":"e3f05d2b.6c2538","name":"Sortie décodeur","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":590,"y":260,"wires":[]},{"id":"129a39a7.2523d6","type":"ui_text","z":"399c554b.307352","group":"32b1de46.ed09d2","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":360,"y":160,"wires":[]},{"id":"6c0e9a8.12c7be4","type":"ui_button","z":"399c554b.307352","name":"","group":"32b1de46.ed09d2","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"coucou","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":160,"wires":[["129a39a7.2523d6"]]}]